@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
:root{
  --main-font: 'Oxygen', sans-serif;
  --color-black:#0F0A0A;
  --color-primary: #42E2B8;
  --color-gradient: linear-gradient(#FAD7A1, #E96D71);
}

body{
  margin: 0;
  background: var(--color-gradient);
  font-family: var(--main-font);
}
h1{
  font-size: 95px;
}
h2{
  font-size: 59px;
  line-height: 95.5px;
  letter-spacing: -0.5%;
}
h3{
  font-size: 48px;
  line-height: 77.7px;
}
h4{
  font-size: 34px;
}
h5{
  font-size: 24px;
  line-height: 38.8px;
  font-weight: bold;
}
.body1{
  font-size: 16px;
  line-height: 25.9px;
  letter-spacing: 0.5%;
}
.body2{
  font-size: 14px;
  line-height: 22.7px;
  letter-spacing: 0.25%;
}
button{
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: bold;
  color: var(--color-black);

}
.caption{
  font-size: 12px;
  line-height: 19.4px;
  letter-spacing: 0.4px;
  opacity: 0.5;
}
i{
  font-size: 20px;
  margin-right: 8px;
}
.button__primary{
  height: 49px;
  padding: 13px 24px;
  background: var(--color-primary);
  border: 2px solid var(--color-black);
  border-radius: 90px;
  box-shadow: -4px 4px 14px 0.25px;
}
.button__secondary{
  height: 49px;
  padding: 13px 24px;
  background: transparent;
  border: 2px solid var(--color-black);
  border-radius: 90px;

}
header,
main,
article{
  margin: 0 16px;
}
nav{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav p{
  font-weight: bold;
}
nav button{
  width: 150px;
}
figure{
  margin: 0;
  text-align: center;
}
.data__person h3{
  margin: 0;
  text-align: center;
}
.data__person h2{
  margin:0;
}
.fas,
.fab{
  font-size: 24px;
  padding: 8px;
  margin-right: 16px;
/*   margin-bottom: 40px; */
  color: var(--color-black);
  background: var(--color-primary);
  border: 2px solid var(--color-black);
  border-radius: 5px;
}
.description{
  font-size: 24px;
  line-height: 38.8px;
  letter-spacing: 0.5%;
  text-align: center;
  margin-bottom: 24px;
}
.description__share{
  font-size: 24px;
  line-height: 38.8px;
  font-weight: bold;
  text-align: center;
}
.image__arrow{
  margin-bottom: 40px;
}
.project__title{
  display: inline-block;
  background: var(--color-black);
  color: var(--color-primary);
  padding: 4px 8px;
  box-shadow: -4px 4px #fff;
  margin: 40px 0 0;
}
.project__button{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.project__button button{
  margin: 8px 0;
}
.card{
  background: rgba(255, 255, 255, 0.2);
  padding: 24px;
  border-radius: 24px;
}
.form{
  margin-bottom: 80px;
}
label{
  display: block;
  margin: 16px 0 8px 10px;
/*   margin-left: 10px;
  margin-bottom: 8px; */
  line-height: 25.9px;
  letter-spacing: 0.5%;
  font-weight: bold;
  opacity: 80%;
}
input, textarea{
  border: 1px solid #858C94 ;
  border-radius: 8px;
  padding: 12px 16px;
  outline: none;
}
form span{
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #DA1414;
  opacity: 0.8;
}
footer div{
  display: inline;
}
/* nav button{
  background: #42E2B8;
  padding: 13px 24px;
  width: 151px;
  height: 49px;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
} */

/* Icon
<i class="fab fa-github"></i>
<i class="fas fa-phone-alt"></i>
<i class="fab fa-instagram"></i>
<i class="fas fa-envelope"></i>
<i class="fab fa-twitter"></i> */